@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
  /*  font-family: 'Open Sans', sans-serif;*/
    
  /*    font-family: 'Raleway', sans-serif; */
  /*font-family: Comic Sans MS; */
/*  font-family: 'Poppins', sans-serif;  */
    font-weight: 300;
}

body
{
    background: linear-gradient(#87ceeb, #7cacbf);
    overflow: hidden;
}

.content
{
    
    height:600px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:white;
    width:500px;
    margin:auto;
     
    margin-top: 1%;
 
    
    font-size: 2em;

    
}

.ground
{
  margin: auto;
    padding: auto;
    margin-top: -30%;
    margin-left: -5%;
    padding-top: 5%;
    width: 110%;
    height:100%;
      z-index: -100;
    position: absolute;
    object-fit: cover;
}

.scoreTable
{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
   
    padding: 0;

   
   margin: auto;
}
.tableText
{
    color: black;
}
.scoreText
{
    color: #df4d1d;
}