@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*{
  /*  font-family: 'Open Sans', sans-serif;*/
    
  /*    font-family: 'Raleway', sans-serif; */
  /*font-family: Comic Sans MS; */
/*  font-family: 'Poppins', sans-serif;  */
    font-weight: 300;
}

body
{
    background: linear-gradient(#87ceeb, #7cacbf);
    overflow: hidden;
}

.body
{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color:white;
     position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -450px;
    margin-left: -250px;
    width: 500px;
    height: 900px;
    font-size: 2em;
}
.ground
{
     position: absolute;
    padding: 0;
    margin-left: -50px;
    margin-top: 0%;
    width: 110%;
    top: 80%;
}
.bushes
{
    position: absolute;
    padding: 0;
    margin-left: -50px;
    margin-top: 0%;
    width: 110%;
    top: 45%;
}

.table
{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.5em;
     position: absolute;
    padding: 0;
    margin-left: -50%;
    margin-top: -50%;
   
    top: 40%;
    left: 50%;
}

.scoreText
{
    color: #df4d1d;
}